{#
  Recursive partial for category bar dropdown items.
  Called by: category-bar.twig and itself (for nested sub-menus).

  | Variable | Type   | Description        |
  |----------|--------|--------------------|
  | item     | object | Single menu item   |
#}
{% set has_children = item.children is defined and item.children is not empty %}

<li class="category-bar__item{{ has_children ? ' has-children' : '' }}">

  <a href="{{ item.url }}" class="category-bar__link" {{ item.link_attrs|default('') }}>
    <span class="category-bar__title">{{ item.title }}</span>
    {% if has_children %}
      <svg class="category-bar__arrow" width="10" height="10" viewBox="0 0 12 12"
           fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M4.5 2.5L8 6L4.5 9.5" stroke="currentColor"
              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {% endif %}
  </a>

  {% if has_children %}
    <div class="category-bar__dropdown">
      <ul class="category-bar__sub">
        {% for child in item.children %}
          {% include 'components/header/_category-item.twig' with { item: child } only %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

</li>
